<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>all link</title>
</head>
<style>
    body{ text-align:center}
    #divcss5{margin:0 auto;width:150px;height:200px}
</style>
<body >
<div id="divcss5">

    <table border="1" style="text-align: center">
        <tr>
            <td><a href="/now">now status</a></td>

        </tr>
        <tr>
            <td><a href="/row">row ssr link</a> </td>
        </tr>
        <tr>
            <td><a href="/qr">QR Code</a> </td>
        </tr>
        <tr>
            <td><a href="/config">host config json</a> </td>
        </tr>
        <tr>
            <td><a href="/log">row log</a> </td>
        </tr>
    </table>
</div>

</body>
</html>